/* ---- COLORS ----*/
/*
color: #594a41; BROWN
color: #bb2025; RED
color: #e05125; ORANGE
color: #c7682a; LIGHT BROWN
color: #b05526; MED BROWN
*/

html{
	width:100%;
}

body {
  padding:80px 20px;
  margin:0;
  width:100%;
  height:100%;
  font: 14px "Proxima Nova", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #594a41;
  background: #eeeeee;
  display:block;
  box-sizing: border-box;
}

a {
  color:#e05125;
}

h1{
	color:#b05526;
	text-transform: uppercase;
}

h2{
	color:#fff;
	font-size:2em;
	font-weight:100;
	text-transform:uppercase;
	margin:4px 10px 4px 10px;
	letter-spacing:.05em;
}

h3{
	color:#594a41;
	text-transform:uppercase;
	font-size:1.5em;
	margin:10px;
}

h4{
	color:#bb2025;
	margin:4px 0 4px 0;
}

header div > h3{
	color:#eeeeee;
	margin-top:2px;
	margin-bottom:4px;
	text-transform:uppercase;
	font-weight:200;
}

header > .dates{
	box-sizing:border-box;
	position:absolute;
	width:100%;
	text-align:right;
	color:#eeeeee;
	top:10px;
	left:0;
	padding:6px 20px;
	font-size:1.05em;
}

body > header{
	z-index:2;
	position:fixed;
	top:0;
	left:0;
	height:80px;
	width:100%;
	border-bottom:2px solid #594a41;
	box-sizing: border-box;
	background:#ffffff;
}

body > header img{
	display:block;
	position:relative;
	height:60%;
	margin-top:14px;
	margin-left:auto;
	margin-right:auto;
}

section{
	position:relative;
	display:block;
	width:100%;
	min-width:500px;
	margin:26px 0 20px 0;
	box-sizing:border-box;
	border:1px solid #594a41;
}

section > header{
	position:relative;
	width:100%;
	background:rgba(187,32,37,1) url(../images/grid-white.png) top left repeat;
	margin:0;
	box-sizing:border-box;
	padding:8px;
}

section div{
	box-sizing:border-box;
	padding:8px 10px 8px 10px;
}

section:before{
    z-index:-1;
    position:absolute;
    display:block;
    box-sizing:border-box;
    width:100%;
    height:100%;
    top:34%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
    content:url(../images/dev-camp-logo-final.png) 50% 50%;
    opacity:0.15;
}

footer{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:50px;
	border-top: 2px solid #594a41;
	box-sizing: border-box;
	background:#ffffff;
}

footer span{
	display:block;
	position:relative;
	margin-top:16px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.hackathons{
	position:relative;
	box-sizing:border-box;
}

.hackathon{
	position:relative;
	vertical-align: top;
	display:inline-block;
	height:60px;
	width:47%;
	min-width:480px;
	max-width:700px;
	margin: 1%;
	padding:16px;
	box-sizing: border-box;
	background:rgba(255,255,255,.9) url(../images/strongbox-cropped.jpg) top left no-repeat;
	-moz-box-shadow:    2px 2px 6px 3px #ccc;
  	-webkit-box-shadow: 2px 2px 6px 3px #ccc;
  	box-shadow:         2px 2px 6px 3px #ccc;
  	border:1px solid rgba(89,74,65,.25);
}

.hackathon > span{
	top:8px;
}

.hackathon > .dates{
	box-sizing:border-box;
	position:relative;
	width:50%;
	font-weight:bold;
	text-align:right;
	text-shadow:1px 1px 0px #fff;
	top:10px;
	right:0;
	float:right;
}

.hackathon > .location{
	box-sizing:border-box;
	position:relative;
	color: #bb2025;
	margin:4px 0 4px 0;
	font-weight:bold;
	vertical-align:top;
}

.name, .member, .urls a{
	margin-right:8px;
}

.portrait{
	width:50px;
	height:50px;
	box-sizing: border-box;
	border:1px solid #594a41;	
	margin-top:6px;
}

.profile{
	box-sizing: border-box;
	display: inline-block;
	width: 110px;
	padding: 4px;
	text-align: center;
	vertical-align: top;
	position: relative;
	left: 0;
	top: 0;
}

.projects{
	width:100%;
	box-sizing: border-box;
}

.project{
	vertical-align: top;
	display:inline-block;
	width:47%;
	min-width:480px;
	max-width:700px;
	margin: 1%;
	padding:16px;
	box-sizing: border-box;
	background:#fff;
	-moz-box-shadow:    2px 2px 6px 3px #ccc;
  	-webkit-box-shadow: 2px 2px 6px 3px #ccc;
  	box-shadow:         2px 2px 6px 3px #ccc;
  	border:1px solid rgba(89,74,65,.25);
}

.sponsors{
	color:#eeeeee;
	margin-bottom:-6px;
}

.sponsors h3{
	margin-left:0;
	font-size:1em;
}

.team{
	margin-top:8px;
	position:relative;
	display:inline-block;
	box-sizing: border-box;
	width:100%;
}

.urls > a{
	font-size:.85em;
	box-sizing:border-box;
	background:#e05125;
	color:#fff;
	padding:6px;
	text-decoration:none;
	border:1px solid #594a41;
	-moz-box-shadow:    2px 2px 4px 1px #ccc;
  	-webkit-box-shadow: 2px 2px 4px 1px #ccc;
  	box-shadow:         2px 2px 4px 1px #ccc;
}

.urls > a:hover{
	color:#594a41;
}